* {
    box-sizing: border-box;
	margin: 0;
	font-family: ubuntu, sans-serif;
}

body {
    margin:0px;
    /*background-image: url("https://images.pexels.com/photos/5044497/pexels-photo-5044497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #cccccc;*/

   }
	
  div.links {
	    background-color:transparent;
		border-bottom-style: solid;
		border-bottom-color: Lightgrey;
		padding: 10px;
		display: flex;
		transform: translate(-1%, -591%);
		
		
	
		
		
	 }
		
	.links a{
		display:inline;
		color: #7393B3;
		line-height:1.5em;
		padding: 9px 29px 24px 52px;
		text-decoration:none;
		height:90px;
		font-size: 40px;
		
		
	}
	
	.links a:hover{
		color:#0047AB;
		
	}
	
	
	button{
	    background-color: #fff;
	    color: #7393B3;
	    padding: 22px 27px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 29px;
	    height: 11px;
	    width: 20px;
	    margin: 10px;
	    border-radius: 5px;
	}
	
	/*img {
		max-height: 20%;
		margin-bottom: -208px;
	}*/
		
	nav.container {
	    background-image: url("https://images.pexels.com/photos/5044497/pexels-photo-5044497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		display: flex;
		padding-top: 693px;
		padding-bottom: 188px;
		justify-content:space-evenly;
	}
	
	
	div.aboutme {
	    border: 2px transparent solid;
	    border-top-color: black;
	    border-bottom-color: black;
	    background-color: #AEC6CF;
	    padding-bottom: 200px;
	    padding-top: 13px;
	    width: 95%;
		margin: 23px 49px 12px 47px;
	}
		
	
	
	h2 {
	    padding: 13px 35px;
	}
	

	
	div.aboutme div {
		text-align:center;
		padding-left:10px;
		
	}
	
	div.aboutme p {
		margin:10px;
		
		
	}
	
	
	div.portfolio {
	    display: flex;
	    border: 2px transparent solid;
		padding-top: 21px 167px 28px 0;
	    background-color: #53DFD1;
	    border-top-color: black;
	    border-bottom-color: black;
	    background-color: #AEC6CF;
	    width: 95%;
	    margin: 25px 49px 12px 47px;
	    justify-content: space-between;
	}
	
	
	div.portfolio div {
		display:flex;
		justify-content:left;
		text-align:center;
		height:150px;
		
	}
	
	
	div.portfolio p {
	    border: 1px transparent solid;
	    border-left-color: black;
	    background-color: white;
	    padding-right: 167px;
	    padding-left: 20px;
	    padding-bottom: 14px;
		
	}
	
	img.one{
		margin: 20px 20px 20px 20px;
		max-height:100px;
		
	}
	img.two{
		margin: 20px 20px 20px 20px;
		max-height:100px;
	}
	img.three{
		margin: 20px 20px 20px 20px;
		max-height:100px;
	}

	.contactme h2{
		padding:0px;
		
	}
	
	.fa-linkedin:before {
	    content: "\f08c";
	 	color:#0047AB;
	    max-height:30px;
		font-size:70px;
		padding-left: 46px;
	}
	
	
	
	
	.contactme div{
		display:flex;
		justify-content:space-between;
		
	}
	
	.fa-envelope:before {
	    content: "\f0e0";
		color: #0047AB;
		font-size: 75px;
	}

	
	.fa-github:before {
	    content: "\f09b";
		color: #0047AB;
		font-size:75px;
		padding-right: 34px;
	}
	
	@media screen and (max-width:500px) {
	img {
	width:50%;
	resize:50%;
	
	}