* {
    box-sizing: border-box;
	font-family: ubuntu, sans-serif;
}

body {
    margin: 0;
}

.container{ 
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: #7393B3;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: Ubuntu;
    font-weight: 400;
    text-decoration: none;
	text-align:center;
	
}

.links a{
	display:inline;
	justify-content: space-between;
	color: Black;
	line-height:1.5em;
	padding-left: 25px;
	text-decoration:none;
	font-size: 30px;
	transform: translate(50%, 50%);
	
	
}
	 